/* Start Content  */
.bm-node{
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 7px 30px -10px rgba(150,170,180,.5);
  box-shadow: 0 7px 30px -10px rgba(150,170,180,.5);
  margin-bottom: 0!important;
  margin-top: 15px;
  padding: 1rem;
}

.bm-node div img {
  width: 100%;
}

.bm-node .bm-top {
  display: flex;
}

.bm-node .bm-top > div {
  width: 50%;
  text-align: center;
  padding-top: 1rem;
  display: flex;
}

.bm-node .bm-top > div > div {
  padding-right: 1rem;
}

.bm-node .field--name-field-bm-image {
  margin: 0 !important;
}

.bm-node .field--name-field-bm-property-type{
  display: inline-flex;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
}
