{#
/**
 * @file
 * Default theme implementation to present a booking manager entity.
 *
 * This template is used when viewing a canonical booking manager page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bm()
 */
#}
{{ attach_library('bm/node') }}

<article{{ attributes.addClass(["bm-node"]) }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
    {{ content.type.value }}
  {% endif %}
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
